.main-title{
    display: flex;
    font-family: 'Fjalla One', sans-serif;
    font-size: 34px;
    align-items: flex-start;
    
}

.main-title.-second{
    font-size: 26px;
    font-family: 'Fjalla One', sans-serif;
}

.main-title.-third{
    font-family: 'karla', sans-serif;
    font-size: 24px;
    line-height: 1.2;
    text-align: left;
    width: 438px;
}

.main-title.-third-white{
    color: #fff;
    font-family: 'karla', sans-serif;
    font-size: 24px;
    line-height: 1.2;
}

.main-title.-white{
    color: #fff;
}

.main-title.-h1{
    padding-bottom: 12px;
    padding-top: 36px;
    text-align: center;
}